@import url("../css/variables.css");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style-type: none;
}

section {
    padding:0 var(--padding-l);
}

#app {
    width: 375px;
    background: var(--primary-bg);
    font-family: var(--ff-assistant);
}

.upper {
    text-transform: uppercase;
}

.paragraph {
    font-size: var(--fs-xxs);
    color: var(--secondary-text-color);
    margin-top: var(--margin-s);
}

.direction__paragraph {
    font-size: calc(var(--fs-xxs) - 2px);
}

.title {
    font-size: var(--fs-m);
    font-family: var(--ff-kaisei);
    color: var(--primary-text-color);
    margin-top: var(--margin-xl);
}

.sub-title {
    margin-top: var(--margin-xl);
}

.image__about-us {
    width: 296px;
    margin-top: var(--margin-m);
}

.header {
    padding-top: var(--margin-l);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.line {
    width: 18px;
    height: 2px;
    background: var(--primary-text-color);
    margin-top: 3px;
}

.preview {
    background: url("../public/images/backgrounds/background-1.png");
    background-position: center;
    background-size: 1000px;
    height: 476px;
    color: var(--primary-text-color);
}

.preview__title {
    margin-top: var(--margin-xxl);
    font-family: var(--ff-kaisei);
    font-size: var(--fs-l);
}

.preview__paragraph {
    margin-top: var(--margin-xs);
}

.player__bg {
    width: 375px;
}

.player__play {
    width: 20px;
    height: 20px;
    position: relative;
    top : -80.5px;
    left : 50%;
    transform: translate(50%,-10px);
}

.about-us__title {
    margin-top: 40px;
}

.image__img {
    width: 259px;
    height: 92px;
}
.mt-20 {
    margin-top: 20px;
}

@media (min-width :376px) and (max-width:1512px){
    
    #app {
        width: 1512px;
        background: var(--primary-bg);
        overflow-x: hidden;
        
    }
    
    section {
        display: grid;
        height: 100vh;
        background: var(--primary-bg)
    }
    .preview {
        background: url(../public/images/backgrounds/background-1.png);
        width: 1512px;
        height: 980px;
        grid-template-columns: repeat(1fr);
    }

    /* вопросики */
    /* .preview__paragraph {
        margin-top: calc(var(--margin-s));
        padding: 128px;
    } */

    .logo , .preview__title , .about-us__title , .paragraph , .image__about-us , .title {
        padding-left: 128px;
    }

    .logo {
        margin-top: 41px;
        font-size: var(--fs-m);
    }

    .preview__title {
        margin-top: 310px;
        font-size: var(--fs-xl);
    }

    .player__bg {
        width: 1512px;
        height: 599px;
    }

    .player__play {
        width: 60px;
        height: 60px;
        position: relative;
        top: -330px;
        left: 700px;
    }

    .about-us {
        width: 1512px;
        background: var(--primary-bg)
    }

    .about-us__title {
        margin-top: 120px;
        font-size: 60px;
    }

    .paragraph {
        margin-top: var(--margin-s);
    }

    .image__about-us {
        width: 1256px;
        height: 469px;
    }

    .title {
        margin-top: 120px;
        font-size: var(--fs-l);
    }

    .sub-title {
        margin-top: 40px;
        font-size: 24px;
    }
    
    .direction {
        background: var(--primary-bg)
    }

    .direction__paragraph {
        margin-top: 121px;
    }

    .direction__col {
        display: flex;
        justify-content: space-between;
    }

    .img {
        width: 259px;
        height: 92px;
    }

    .direction__paragraph {
        margin-top: 30px;
        font-size: var(--fs-s);
    }

}